* {
  box-sizing: border-box;
}
@font-face {
  font-family: Eina01-Bold;
  src: url("Eina01-Bold.ttf");
}
@font-face {
  font-family: Eina01-Regular;
  src: url("Eina01-Regular.ttf");
}

body {
  font-family: Eina01-Regular;
  color: #000000;
  max-width: 960px;
  margin: auto;
}

header {
  text-align: center;
}

.piclogo {
  width: 100%;
  height: auto;
}

nav {
  overflow: auto;
  width: 100%;
  background-color: #5f3323;
}

nav a {
  float: left;
  padding: 10px;
  font-family: Eina01-Bold;
  text-decoration: none;
  font-size: 25px;
  width: 20%;
  text-align: center;
}

nav a:hover {
  background-color: #d7bfb9;
  color: #5f3323;
}

@media screen and (max-width: 500px) {
  nav a {
    float: none;
    display: block;
    width: 100%;
  }
  body {
    width: 100%;
  }
}

main {
  text-align: center;
  line-height: 160%;
  background-color: white;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.side {
  flex: 30%;
  background-color: white;
  padding: 20px;
}

a:link {
  color: #d7bfb9;
  text-decoration: none;
}

a:visited {
  color: #d7bfb9;
  text-decoration: none;
}

a:hover {
  color: #5e2e42;
  text-decoration: none;
}

table,
th,
td {
  padding: 0px;
  background-color: none;
  text-align: center;
  font-weight: normal;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

th {
}

h1 {
  font-family: Eina01-Bold;
}

h2 {
  font-family: Eina01-Bold;
}

hr {
  border: none;
  border-top: 2px solid #5f3323;
}

#myImg {
  border-radius: 0apx;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 100%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.business-info {
  text-align: left;
  font-size: 70%;
  line-height: 120%;
}
